body{
    background-color: black;
}

.tabs{
    display: flex;
    flex-direction: column;
    width: 10%;
    
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;

    border: solid black;

    background-color: #1b0038;
}
.tabs button, input{
    width: 80%;
    margin: 5px 15px;
}
#Save{
    width: 37%;
    position: absolute;
}
#Load{
    width: 37%;
    position: relative;
    left: 80px;
}
#CrustDrillTab{margin-top: 15px;}
#HeatCoolTab, #UpgradesTab{visibility: hidden;}

.general{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 89%;    
    border: solid black;
    background-color: #101747;
}

.units{
    position: absolute;
    top: 40px;
    left: 40px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 12.5%;
    height: 100px;

    border: solid black;

    background-color: #3bbff6;
}
.SpecifiedUnits #Heat-Cool{
    
    position: absolute;
    top: 400px;
    left: 40px;
        
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 12.5%;
    height: 150px;
    
    border: solid black;
    
    background-color: #8733af;
    visibility: hidden;
    
}

#HeatCoolUnits{
    position: absolute;
    visibility: hidden;
}

.main{
    position: absolute;
    left: 300px;
    right: 50px;
    top: 50px;
    bottom: 50px;

    display: flex;
    justify-content: center;
    text-align: center;

    border: solid black;

    background-color: #2c3d8e;
    
}

.crustDrill{
    visibility: visible;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.Achievements, .generalUpgrades, .Heat-Cool{
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h3{
    font-size: x-large;
    color: white;
}

.pieces{
    width: 47%;
    position: absolute;
    left: 10px;
    height: 40%;
    border: solid black;
}

.shards{
    width: 47%;
    position: absolute;
    right: 10px;
    height: 40%;
    border: solid black;
}

.piecesText, .shardsText, .matterText{
    font-size: larger;
    position: relative;
    top: 10px;
}

#CPGen, #CSGen, #MtGen{
    border-radius: 10px;
    position: absolute;
    left: 230px;
    top: 50px;
    padding: 20px;
}

#convertToMt, #convertToCP{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    font-size: medium;
    font-weight: bold;
}

#convertToMtUnitText, #convertToCPUnitText{
    font-size: smaller;
}

#crustUpgradeCP1, #crustUpgradeCS1, #crustUpgradeMt1{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 125px;
    height: 125px;
}

#crustUpgradeCP2, #crustUpgradeCS2, #crustUpgradeMt2{
    position: absolute;
    right: 50px;
    top: 50px;
    width: 125px;
    height: 125px;
}

.CrustUpgradesInfo{
    position: absolute;
    width: 250px;
    height: 150px;
    left: -283px;
    bottom: 0;
    background-color: #ad009f;
}
.CrustUpgradesInfo h3, .Achievements-Info p{
    position: relative;
    bottom: 15px;
}
.CrustUpgradesInfo div{
    position: absolute;
    width: 250px;
    bottom: 0;
    background-color: #ad009f;
    visibility: hidden;
}
#MainInfoCrustUpgrades{
    visibility: inherit;
}

.GeneralUpgradesInfo{
    position: absolute;
    width: 250px;
    height: 150px;
    left: -283px;
    bottom: 0;
    background-color: #ad009f;
}
.GeneralUpgradesInfo h3, .Achievements-Info p{
    position: relative;
    bottom: 15px;
}
.GeneralUpgradesInfo div{
    position: absolute;
    width: 250px;
    bottom: 0;
    background-color: #ad009f;
    visibility: hidden;
}
#MainInfoGeneralUpgrades{
    visibility: inherit;
}
.matter{
    width: 47%;
    height: 40%;
    position: absolute;
    bottom: 70px;
    left: 350px;
    
    border: solid black;
    visibility: hidden;
}

#MBCP1{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 62.5px;
}

#MBMt1{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 265px;
}

#MBCS1{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 62.5px;
}

#unlockableHeat{
    position: absolute;
    bottom: 150px;
    left: 100px;
    width: 150px;
    height: 150px;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    border: solid red 5px;
    visibility: hidden;
}
#unlockableCool{
    position: absolute;
    bottom: 150px;
    right: 100px;
    width: 150px;
    height: 150px;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    border: solid blue 5px;
    visibility: hidden;
}

.Achievements-Boxes .first-row, .Achievements-Boxes .second-row{
    position: absolute;
    display: flex;   
    flex-direction: row;
    cursor: default;
}
.Achievements-Boxes h3{
    position: absolute;
    top: 0;
    left: 600px;
}
.Achievements-Boxes div span{
    position: relative;
    top: 25px;
}
.Achievements-Info{
    position: absolute;
    width: 250px;
    height: 150px;
    left: -283px;
    bottom: 0;
    background-color: #ad009f;
}
.Achievements-Info h3, .Achievements-Info p{
    position: relative;
    bottom: 15px;
}
.Achievements-Info div{
    position: absolute;
    width: 250px;
    bottom: 0;
    background-color: #ad009f;
    visibility: hidden;
}
#MainInfoAch{
    visibility: inherit;
}
.Achievements-Boxes .first-row div{
    width: 75px;
    height: 75px;
    position: relative;
    top: 100px;
    left: 300px;

    font-size: larger;
    background-color: rgb(255, 103, 103);
    align-items: center;
    border: solid grey;
}
.Achievements-Boxes .second-row div{
    width: 75px;
    height: 75px;
    position: relative;
    top: 180px;
    left: 300px;

    font-size: larger;
    background-color: rgb(255, 103, 103);
    align-items: center;
    border: solid grey;
}
.automation{
    position: absolute;
    width: 40%;
    height: 50%;
    border: solid;
}
.autoButton{
    width: 100px;
    height: 100px;
    font-size: medium;
    border-radius: 20px;
    margin: 10px 10px;
}

.boost{
    position: absolute;
    width: 40%;
    height: 50%;
    right: 0;
    border: solid;
}
.boostButton{
    width: 75px;
    height: 75px;
    font-size: medium;
    border-radius: 20px;
    margin: 20px 5px;
}

#HeatCoolSpecificUnits{
    position: absolute;
    width: 250px;
    height: 150px;
    left: -283px;
    bottom: 400px;
    background-color: #8733af;
}

.Heat{
    position: absolute;
    width: 45%;
    height: 90.5%;

    border: solid;
}
.Cool{
    position: absolute;
    width: 45%;
    height: 90.5%;
    right: 0;
    border: solid;
}
#ConvertToHtSt, #ConvertToClSt{
    position: absolute;
    left: 35%;
    padding: 30px;
    font-size: medium;
    border-radius: 10px;
}
#tBBBuy, #ICBuy{
    position: relative;
    top: 150px;
    left: 5px;
    padding: 30px;
    border-radius: 10px;
}
#HeatUpgradesButton, #CoolUpgradesButton{
    position: absolute;
    top: 450px;
    padding: 50px;
    left: 200px;
    font-size: medium;
    border-radius: 10px;
    background-color: #250E56;
}
.HeatUpgrades{
    position: fixed;
    position: absolute;
    top: 20px;
    bottom: 80px;
    left: 155px;
    right: -585px;
    background-color: rosybrown;
    border: solid;
    z-index: 1;
    visibility: hidden;
}
.CoolUpgrades{
    position: fixed;
    position: absolute;
    top: 20px;
    bottom: 80px;
    left: -585px;
    right: 155px;
    background-color: rosybrown;
    border: solid;
    z-index: 1;
    visibility: hidden;
}
.HeatUpgrades button, .CoolUpgrades button{
    border-radius: 10px;
    margin: 10px 15px;
    width: 110px;
    height: 100px;
}
.HeatUpgrades .second-row, .CoolUpgrades .second-row{
    position: relative;
    top: 50px;
}
.HeatUpgrades .third-row, .CoolUpgrades .third-row{
    position: relative;
    top: 100px;
}

.HeatUpgradesInfo, .CoolUpgradesInfo{
    position: absolute;
    width: 250px;
    height: 150px;
    left: -440px;
    bottom: -85px;
    background-color: #ad009f;
}
.HeatUpgradesInfo h3, .CoolUpgradesInfo h3{
    position: relative;
    bottom: 15px;
}
.HeatUpgradesInfo div, .CoolUpgradesInfo div{
    position: absolute;
    width: 250px;
    bottom: 0;
    background-color: #ad009f;
    visibility: hidden;
}
#MainInfoHeatUpgrades, #MainInfoCoolUpgrades{
    visibility: inherit;
}
#CloseHeatUpgrades, #CloseCoolUpgrades{
    border-radius: 0;
    padding: 20px;
    width: 100px;
    height: 20px;
    position: absolute;
    left: 450px;
    bottom: 0;
}
.Close{
    position: absolute;
    left: 30px;
    top: 0;
}